*{
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
	
}
body{
	background-color:hsl(0, 0%, 18.82%);
	font-family: algerian;
	background-image: url(bg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
.header-section{
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	background-color: black;
	color: white;


}
header{
	width: 27%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;

}
img.logo-img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
nav{
	width: 70%;
	height: 100%;
}
ul{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}
li{
	padding: 12px 0;
	width: 15%;
	height: 100%;
	list-style: none;
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
	font-size: 25px;
}
.home, .portfolio, .contact, .cv, .report{
	background-color: grey;
}
.work-status{
	/*padding: 9% 0 9% 31%;*/
	
	/*background-color: #4bb9e6;*/
	padding: 8% 0;
	text-align: center;
	font-size: 30px;
	color: black;
}
.biography{
	margin: 0 12%;
	padding: 20px 0;
	/*background-color: #4bb9e6;
*/
}
.content{
	
	text-align: center;
}
p{
	margin: 12px;
}
.pp{
	width: 80px;
	height: 80px;
	border: 3px solid;
	border-radius: 50%;
}











.demo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.demo-1{
	height: 300px;
	width: 200px;
	border: 2px solid black;
}
.demo-2{
	height: 300px;
	width: 400px;
	border: 2px solid black;
}
.demo-3{
	height: 300px;
	width: 600px;
	border: 2px solid black;
}


